# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.idea/encodings.xml
.idea/hydra.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/.gitignore
.idea/modules/app/
.idea/modules/build.sbt
.idea/modules/conf/
.idea/modules/project/
.idea/modules/public/
.idea/modules/test/
.idea/vcs.xml
.idea/workspace.xml
api/target
model/target
scala_play_bitcoin_price_forecasting.iml
scheduler/target
spark/target
util/target
